@import "utility.scss";
.navigation{
    //Nav Style
    @include resetnav;
    a{
        @include initanchor;
    }
    > ul{
        
       > li{
           border-bottom:1px solid $white;
             @media (min-width: $screen-md) {
                border-bottom:none;
             }
           > .submenuWrap{
               @include levelonewrap;
           }
           > a{
                @include setleveloneanchor;
            }
            &:hover{
                > a{
                    @include setleveloneanchorhover;
                }
            }
        }
    }
    .submenuWrap{
        @include setmenuwrap;
        .btn{
            @include btn;
        }
        ul{
            width:100%;
            float:left;
            margin-bottom: 1em;
            li{
                clear: both;
                margin-bottom:0.5em;
                > a{
                    display: block;
                    font-weight:$normal-weight;
                }
            }
        }
        //people browse
        .peopBrow{
            ul{
                li{
                    clear:none;
                    margin-bottom:0;
                    width:auto;
                        a{
                            &:hover{
                                background-color:$blue;
                                color:$white;
                            }
                        }
                    }
                }
        }

    }

    //Nav Function
    @media (min-width: $screen-md) {
        li:hover > .submenuWrap{
            visibility: visible;
            opacity:1;

        } 
    }
    //Type horizontal menu
    /*.typeHorizontal{
        li{width:100%;}
    }*/

}